.page-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 10px;
  padding-top: 70px;
  height: 100vh;
  overflow: hidden;

  @media (max-width: 1024px) {
    display: block !important;      
    width: 100% !important;          
    padding: 0 !important;          
    margin: 0 !important;            
    gap: 0 !important;               
  }
}

.main-content {
  height: 100vh;
  overflow-y: auto;
  padding-top: 80px;
  padding-right: 10px;
  width: 100%;
  max-width: 100% !important;       

  @media (min-width: 1024px) {
    width: 70%;
  }

  @media (max-width: 1024px) {
    padding: 70px 0 0 0 !important;  
  }
}


.sidebar-left,
.sidebar-right {
  width: 200px;
  position: sticky;
  top: 80px;
  height: fit-content;

  @media (max-width: 1024px) {
    display: none; 
  }
}

.ad-box {
  width: 100%;
  height: 600px;
  background: #f1f1f1;
  border-radius: 6px;

  @media (max-width: 600px) {
    height: 300px; 
  }
}


