.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 10px;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
  }
}

.placeholder {
  padding: 20px;
  text-align: center;
  opacity: 0.7;
  border: 1px dashed #aaa;
  border-radius: 10px;
}
